.add-new-container {
  max-width: 400px;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 15px;
  margin: 0 auto;
  text-align: left;

  .text-add-new {
    margin: 10px 0;
    text-align: center;
  }

  .inputs-data {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
  }

  .btn-submit {
    margin: 10px 0;
    cursor: pointer;
  }

  .btn-submit {
    margin-left: 10px;
  }
}
